*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}
#navbar{
    width: 100%;
    position: fixed;
}
.navbarleft{
    float: left;
    margin-top: 35px;
    margin-left: 170px;
}
.navbarleft a{
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    
    
    
}
.navbarright{
    float: right;
    margin-top: 35px;
    margin-right: 170px;
}
.navbarright a{
    color: white;
    font-size: 0.8rem;
    font-weight: 800;
    margin-left: 18px;

}
#first{
    background-image: url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/contact-bg.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
    text-align: center;
    
}
#first h1{
    color: white;
    font-size: 5.5rem;
    font-weight: 800;
    margin-bottom: 0.7rem;
    
}
#first span{
    font-size: 1.7rem;
    line-height: 1.1rem;
    color: white;
}
.second p{
    margin: 2rem 0;
    font-size: 1.4rem;
}
.second{
    margin: 0 auto;
    padding: 60px;
    width: 50%;
}
input{
    margin-top: 15px;
    padding: 1rem 16rem;
    text-align: center;
    
}
.btn{
    color: white;
    background-color: #5AB0C2;
    font-size: 18px;
    font-weight: 700;
    padding: 1.25rem 2.5rem;
    border: none;
}
.footericons{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.footer{
    margin-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    
}
.footer a{
    padding: 10px;
}
.footer p{
    margin-top: 15px;
    font-size: 1.1rem;
    color: #6c757d;
}